appnope==0.1.0
asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==2.1.1
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.2
cssselect==1.0.1
cycler==0.10.0
Cython==0.27.3
decorator==4.1.2
dill==0.2.7.1
entrypoints==0.2.3
fbprophet==0.2.1
fuzzywuzzy==0.16.0
holidays==0.8.1
html5lib==1.0b10
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lxml==4.1.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8
multiprocess==0.70.5
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.0
numpy==1.13.3
pandas==0.21.0
pandocfilters==1.4.2
parsel==1.2.0
parso==0.1.0
pathos==0.2.1
patsy==0.4.1
PDF==1.0
pdfminer3k==1.3.1
pexpect==4.2.1
pickleshare==0.7.4
ply==3.10
pox==0.2.3
ppft==1.6.4.7.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
pycryptodome==3.4.7
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.3.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
pystan==2.17.0.0
pytest==3.2.3
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.1
queuelib==1.4.2
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.4.0
seaborn==0.8.1
selenium==3.6.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
terminado==0.6
testpath==0.3.1
tika==1.15
tornado==4.5.2
traitlets==4.3.2
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.6
zope.interface==4.4.3
